# Ex - GroupBy

In [46]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this drinks.csv).

In [47]:
df=pd.read_csv("drinks.csv")

### Step 3. Assign it to a variable called drinks.

In [48]:
drinks=df

### Step 4. Which continent drinks more beer on average?

In [59]:
a=drinks.groupby("continent")["beer_servings"].mean()
a[a=a.max()]

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3108581700.py, line 2)

Step 5. For each continent print the statistics for wine consumption.

In [50]:
drinks.groupby("continent")["wine_servings"].describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Step 6. Print the mean alcohol consumption per continent for every column

In [51]:
drinks.groupby("continent")["total_litres_of_pure_alcohol"].mean()

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 7. Print the median alcohol consumption per continent for every column

In [52]:
drinks.groupby("continent")["total_litres_of_pure_alcohol"].median()

continent
AF     2.30
AS     1.20
EU    10.00
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [53]:
drinks.groupby("continent")["spirit_servings"].mean()

continent
AF     16.339623
AS     60.840909
EU    132.555556
OC     58.437500
SA    114.750000
Name: spirit_servings, dtype: float64

In [54]:
drinks.groupby("continent")["spirit_servings"].max()

continent
AF    152
AS    326
EU    373
OC    254
SA    302
Name: spirit_servings, dtype: int64

In [55]:
drinks.groupby("continent")["spirit_servings"].min()

continent
AF     0
AS     0
EU     0
OC     0
SA    25
Name: spirit_servings, dtype: int64

In [56]:
drinks.isna().sum()

country                          0
beer_servings                    0
spirit_servings                  0
wine_servings                    0
total_litres_of_pure_alcohol     0
continent                       23
dtype: int64